@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn-registrarse {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.titulo {
font-family: "Cal Sans", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 60px;
margin-top: 70px;
}

.descripcion {
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings: "wdth" 100;
font-size: 17px;
margin-top: 30px;
}

.btn1 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}

.libreta{
    margin-top: 100px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.ventajas {
display: flex;
gap: 40px;
justify-content: center;
margin-top: 50px;
}

.card {
border: 1px solid #000;
border-radius: 20px;
padding: 20px;
width: 300px;
box-sizing: border-box;
}
.card h3 {
margin-top: 0;
font-weight: bold;
}
.card p {
margin-top: 10px;
color: #333;
font-size: 16px;
line-height: 1.5;
}

.contactos {
    display: flex;
    align-items: center;
    gap: 50px;
}

.info-contacto {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
}

.info-contacto h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contacto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contacto .icono {
    width: 30px;
    margin-right: 15px;
}

.imagen-laptop img {
    width: 600px;
    border-radius: 10px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
.roboto-uniquifier{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .iconos-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icono-noti {
    width: 24px;
    height: 24px;
  }
  
  .perfil-usuario {
    position: relative;
  }
  
  .perfil-usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .estado-online {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #00C851;
    border: 2px solid white;
    border-radius: 50%;
  }
  .estado-ofline {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #757575;
    border: 2px solid white;
    border-radius: 50%;
  }
  .logoimg {
    width: 70px;
    height: 60px;

}
/*prueba*/
.cambio a {
    text-decoration: none;
    color: black;
    font-weight: normal;
  }
  
  .cambio a.activo {
    font-weight: bold;
    color:#7b9cff; 
    border-bottom: 2px solid #7b9cff;
  }
  